
<div id="smltown_game"></div>

<script type="text/javascript" src="static/libs/requirejs/require.js"></script>   

<script>

    if (!SMLTOWN.Game.info.id) {
        SMLTOWN.Load.showPage('gameList', 'not valid hash id');
    }
    var type = SMLTOWN.Game.info.type || "mafia-werewolf";

    //path files 4 plugins
    var smalltownURL = "";
    //GET COOKIE:
    (function () {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) {
            smalltownURL = parts.pop().split(";").shift();
        }
    })();

    //start
    require([
        smalltownURL + "games/" + type + "/frontEnd.js",
//        smalltownURL + "games/" + type + "/lang/" + SMLTOWN.lang + ".js",
    ], function () {

        $("#smltown_game").load(smalltownURL + "static/game.html", function () {
            SMLTOWN.Game.info = {
                id: SMLTOWN.Game.info.id,
                type: type
            };


            //EMOJI REMOVED - SIMPLIFICATION NOW TO GROW
//    $('.emojis-wysiwyg').emojiarea({wysiwyg: true});
            //NOT COMMENT THIS!
            $("#smltown_sendInput").on("tap", function (e) {
                e.preventDefault(); //prevent open chat again
                $("#smltown_chatForm").submit();
            });

//    $(".emoji-wysiwyg-editor").blur(function (e) {
//        if ($(e.target).parents("#smltown_chatForm").length > 0) {
//            $(".emoji-wysiwyg-editor").trigger('focus');
//            $("#smltown_chatInput").trigger('change');
//        }
//    });
//
//    $(".emoji-wysiwyg-editor").on("tap", function (e) {
//        if ($(e.target).is("img")) {
//            var index = $(e.target).index();
//
//            var caret = 0;
//            $(".emoji-wysiwyg-editor").contents().each(function () {
//                caret++;
//                if (index == $(this).index()) {
//                    console.log("return on index = " + index);
//                    return false;
//                }
//            });
//
//            var textNode = $(".emoji-wysiwyg-editor")[0];
//            var range = document.createRange();
//            range.setStart(textNode, caret);
//            range.setEnd(textNode, caret);
//            var sel = window.getSelection();
//            sel.removeAllRanges();
//            sel.addRange(range);
//        }
//    });


            window.inGame = true;

            console.log("game file load");
            SMLTOWN.Load.start();

            //add translated selector if chat empty
            $("#smltown_consoleLog > div").attr("empty-content", SMLTOWN.Message.translate("emptyChat"));

            //RESTART
            SMLTOWN.user.admin = null;
            SMLTOWN.user.card = null;
            SMLTOWN.user.rulesJS = null;
            SMLTOWN.user.sel = null;
            SMLTOWN.user.message = null;

            SMLTOWN.players = {};

            SMLTOWN.Game.loadedFiles = 0;
            SMLTOWN.Util.translateHTML();

            //INIT VARIABLES
            SMLTOWN.user.sleeping = true;
            SMLTOWN.cardLoading = false;

            SMLTOWN.Events.game();

            //cookie
            var urlId = SMLTOWN.Load.getUrlGameId();
            if (urlId) {
                SMLTOWN.Game.info.id = urlId;
            }
            SMLTOWN.Util.setPersistentCookie("smltown_gameId", SMLTOWN.Game.info.id);

            $(window).ready(function () {
                SMLTOWN.Transform.gameResize();
                SMLTOWN.Server.request.addUserInGame(SMLTOWN.Game.info.id); //add this user to game
            });

            //info
            $("#smltown_currentUrl").html(location.origin + "/" + location.hash.split("?")[1]);

            if ($("#smltown_notes textarea").length) {
                $("#smltown_notes textarea").val(localStorage.getItem("notes" + SMLTOWN.Game.info.id));
                $("#smltown_notes textarea").css('height', $("#smltown_notes textarea")[0].scrollHeight + "px");
            }
        });
    });

</script>
