
<script>
    localStorage.setItem("gameId", null);
</script>

<div id="smltown_body">

    <div id="smltown_content">
        <div id="smltown_title">
            <table id='smltown_createGame' style="display: none">
                <td id='smltown_nameGame'>
                    <input type='text'>
                </td>
                <td id='smltown_newGame' class='smltown_button smltown_disable'>
                    <div>createGame</div>
                </td>
            </table>
        </div>

        <div id="smltown_gamesWrapper">
            <div id="smltown_games"></div>

            <!--http://ryanfait.com/sticky-footer/-->
            <div id="smltown_footer">
                <div id="smltown_loadingGames"></div>
                <br/>
                <p style="float: left">
                    <span id="smltown_currentVersion"></span>
                </p>
                <div class="smltown_log" style="position:absolute; z-index:99"></div>
                <div class="smltown_errorLog"></div>

                <!--forum link: less option NOW is better-->
                <!--<a id="smltown_forumLink" href="http://smltown.tk/forum"><p>FORUM</p></a>-->

                <!-- Your like button code -->
                <!--<div class="fb-like" href="https://apps.facebook.com/smltown/" layout="box_count" action="like" show-faces="false" share="false" width="50"></div>-->
            </div>
        </div>       
    </div>

    <div id="smltown_reload" class="smltown_button" onclick="SMLTOWN.Games.reloadList()">reload</div>

</div>

<script>
    window.inGame = false;
    SMLTOWN.Server.stopPing();

    $("#smltown_nameGame input").attr("placeholder", "🔍 " + SMLTOWN.Message.translate("gameName"));
    SMLTOWN.Util.translateHTML();

    //clean
    SMLTOWN.Game.info = {};
    SMLTOWN.players = {};
    $("<p style='position:absolute; top:0; right:0; color:grey'>")
            .html(SMLTOWN.config.activePlayers + " " + lang["playersIn"] + " " + SMLTOWN.config.activeGames + " " + lang["games"])
            .insertAfter("#smltown_title");

    SMLTOWN.Load.gameList();

    //game list events
    $("#smltown_gamesWrapper").on("scrollBottom", function () {
        SMLTOWN.Games.loadMore();
    });

    //cookie
    SMLTOWN.Util.setPersistentCookie("smltown_gameId", "");

    //url message
    if (location.hash.split("?")[1]) {
        smltown_error(location.hash.split("?")[1]);
    }

    //TUTORIAL?
//    if ("todo" == localStorage.getItem("tutorial")) {
//        SMLTOWN.Message.notify("_tutorialQuestion", function () {
//            SMLTOWN.Help.tour();
//        }, function () {
//            localStorage.setItem("tutorial", "done");
//        });
//    }

</script>
